# -----------------------------
# IDE / OS
# -----------------------------
.idea/
.vscode/
.DS_Store
Thumbs.db

# -----------------------------
# Build outputs
# -----------------------------
build/
out/
dist/
target/
*.class

# -----------------------------
# Rust (core, tools/jar)
# -----------------------------
**/target/
**/Cargo.lock

# -----------------------------
# Gradle (classlib, tools/compiler)
# -----------------------------
.gradle/
**/build/
**/.gradle/
**/.kotlin/

# -----------------------------
# JVM / Java / Kotlin
# -----------------------------
*.log
*.jar
*.war
*.ear

# -----------------------------
# Other temporary files
# -----------------------------
*.tmp
*.swp
*.swo
